body, html, #root {
  height: 100%;
}

.mainContent {
  text-align: center;
  height: 100%;
}

.gameTitle {
  margin-top: 50px;
  font-size: 50px;
}

.rules {
  margin-top: 50px;
}

.lettersToGuess {
  margin-top: 50px;
  font-size: 50px;
}

.usedLetters {
  margin-top: 40px;
}

.invisibleTextInput {
  margin-left: -200%;
  border-color: #fff;
  color: #fff;
}

.formButton {
  border-radius: 25px;
  background-color: green;
  color: #fff;
  margin-top: 22px;
  width: 250px;
  padding: 10px;
  cursor: pointer;
}
