.mainContent {
  text-align: center;
}

.gameTitle {
  margin-top: 50px;
  font-size: 50px;
}

.rules {
  margin-top: 50px;
}

.lettersToGuess {
  margin-top: 50px;
  font-size: 50px;
}

.usedLetters {
  margin-top: 40px;
}
